[access "refs/heads/*"]
	push = +force group Sony Aries Maintainers
	push = group Sony Common Maintainers
	push = group Sony Shinano Maintainers
	label-Code-Review = -2..+2 group Sony Aries Maintainers
	label-Code-Review = -2..+2 group Sony Common Maintainers
	label-Code-Review = -2..+2 group Sony Shinano Maintainers
	label-Verified = -1..+1 group Sony Aries Maintainers
	label-Verified = -1..+1 group Sony Common Maintainers
	label-Verified = -1..+1 group Sony Shinano Maintainers
	submit = group Sony Aries Maintainers
	submit = group Sony Common Maintainers
	submit = group Sony Shinano Maintainers
	create = group Sony Aries Maintainers
	create = group Sony Common Maintainers
	create = group Sony Shinano Maintainers
	pushMerge = group Sony Aries Maintainers
	pushMerge = group Sony Common Maintainers
	pushMerge = group Sony Shinano Maintainers
