[access "refs/heads/*"]
	push = group Sony Shinano Maintainers
	label-Code-Review = -2..+2 group Sony Shinano Maintainers
	label-Verified = -1..+1 group Sony Shinano Maintainers
	create = group Sony Shinano Maintainers
	pushMerge = group Sony Shinano Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Shinano Maintainers
